html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 0px;
}


/* Predefined styles for GWT components. */

.gwt-SplitLayoutPanel-HDragger {
    margin-left: 4px;
    border-left: 2px solid #aaa;
    cursor: col-resize;
}


.gwt-TabLayoutPanel {
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    padding-top: 2px;
    border-bottom: 1px solid #ccc;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.gwt-TabLayoutPanelContentContainer {
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow: hidden;
    padding: 6px;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 6px;
    margin-bottom: -1px;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    color: #555;
    text-align: center;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab:hover {
    background: #eef;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    color: black;
    background: white;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected:hover {
    background: white;
}

.gwt-DatePicker {
    border: 1px solid #ccc;
    border-top:1px solid #999;
    cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
    outline: none;
}
.datePickerDays {
    width: 100%;
    background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    font-size: 85%;
    text-align: center;
    padding: 4px;
    outline: none;
    font-weight:bold;
    color:#333;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
    background: #fff;
    padding: 0px 4px 2px;
    cursor: default;
    color:#666;
    font-size:70%;
    font-weight:normal;
}
.datePickerDay {
    padding: 4px 7px;
    cursor: hand;
    cursor: pointer;
}
.datePickerDayIsWeekend {
    background: #f7f7f7;
}
.datePickerDayIsFiller {
    color: #999;
    font-weight:normal;
}
.datePickerDayIsValue {
    background: #d7dfe8;
}
.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}
.datePickerDayIsHighlighted {
    background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
    background: #d7dfe8;
}
.datePickerDayIsToday {
    padding: 3px;
    color: #fff;
    background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
    width: 100%;
    padding: 1px 0 5px 0;
    background: #fff;
}
td.datePickerMonth,
td.datePickerYear {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 100%;
    font-weight: bold;
    color: #333;
}
.datePickerPreviousButton,
.datePickerNextButton,
.datePickerPreviousYearButton,
.datePickerNextYearButton {
    font-size: 120%;
    line-height: 1em;
    color: #3a6aad;
    cursor: hand;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 4px;
    outline: none;
}
