

.methodDetailCell, .methodAttributeKey, .methodAttributeVal, .methodErrorClassName,
.methodErrorMessage, .methodErrorStack, .traceSmallCell {
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;

}

.methodDetailCell {
    white-space: nowrap;
    outline-style: none;
}

.methodAttributeKey {
    color: blue;
    text-align: right;
}

.methodAttributeVal {
    color: black;
}

.methodErrorClassName {
    color: red;
}

.methodErrorMessage {
    font-weight: bold;
}

.methodErrorStack {
    color: #444444;
}

.traceSmallCell {
    text-align: center;
    margin-top: 3px;
}

